@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reservoir-h1, .reservoir-h2, .reservoir-h3, .reservoir-h4, .reservoir-h5, .reservoir-h6 {
    @apply font-headings dark:text-white;
  }
  .reservoir-body, .reservoir-subtitle, .reservoir-label-s {
    @apply dark:text-grey-50;
  }

  a.navlink {
    @apply text-grey-800 dark:text-white opacity-[.67] font-nav
  }

  a.navlink.active-link {
    @apply text-grey-900 dark:text-white cursor-default opacity-100;
  }

  a.navlink.active-link:hover {
    @apply text-grey-900 dark:text-white;
  }

  a.navlink:hover {
    @apply opacity-100;
  }

  .border-black {
    @apply border border-grey-800 border-solid;
  }

  .btn-contained-white {
    @apply rounded-lg text-base overflow-hidden h-[50px] bg-grey-100  text-grey-700 font-medium;
  }
  .btn-contained-white:hover {
    @apply bg-white text-black;
  }

  .btn-outline-dk {
    @apply rounded-lg bg-transparent p-2 text-base text-grey-100 overflow-hidden h-[50px] border border-grey-100 border-solid;
  }
  .btn-outline-dk:hover {
    @apply text-white border-white bg-grey-800;
  }
}


model-viewer {
  width: 100%;
  min-height: 500px;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.markdown-support h1, .markdown-support h2, .markdown-support h3, .markdown-support h4, .markdown-support h5 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support p {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support hr {
  margin-top: 0;
  margin-bottom: 30px;
}

.markdown-support strong {
  font-weight: 500;
}

.markdown-support a {
  text-decoration: underline;
}

.btn-primary-fill {
  padding: 10px 20px;
  background-color: white;
  color: black !important;
  font-family: 'Druk Text Wide';
  font-size: 14px;
}

.dark\:btn-outline-dk, .dark\:btn-contained-white {
  padding: 10px 20px !important;
  font-family: 'Druk Text Wide';
  font-size: 14px !important;
}

#search-bar-downshift-input {
  padding: 10px 20px;
  border-radius: 10px;
}

#search-bar-downshift-menu {
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 80px;
}


.border-b {
  border-radius: 8px;
  color: white;
  border: none;
}

#activity, #items {
  border-radius: 99999px;
}

.btn-primary-fill {
  border-radius: 99999px;
}

.min-w-\[222px\] {
  border-radius: 99999px;
  font-family: 'Druk Text Wide';
  font-size: .8rem;
  padding: .7rem .9rem;
}

#radix-\:R1dbhkm\: {
  padding: .7rem .7rem;
}

.px-8 {
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.py-4 {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}
